In [72]:
import pandas as pd
import numpy as np
import os
from datetime import datetime as dt
import matplotlib.pyplot as plt
os.getcwd()

'/home/drumil/Minor Project'

In [3]:
result_df = pd.read_csv('/home/drumil/Minor Project/archive/results.csv')
stats_df = pd.read_csv('/home/drumil/Minor Project/archive/status.csv')
drivers_df = pd.read_csv('/home/drumil/Minor Project/archive/drivers.csv')
races_df = pd.read_csv('/home/drumil/Minor Project/archive/races.csv')
constructor_df = pd.read_csv('/home/drumil/Minor Project/archive/constructors.csv')
driver_standings_df = pd.read_csv('/home/drumil/Minor Project/archive/driver_standings.csv')
pd.get_option("display.max_columns",None)

20

In [4]:
races_df.replace(r'\n',0, regex=True)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,1092,2022,18,22,Japanese Grand Prix,2022-10-09,05:00:00,http://en.wikipedia.org/wiki/2022_Japanese_Gra...,2022-10-07,03:00:00,2022-10-07,06:00:00,2022-10-08,03:00:00,2022-10-08,06:00:00,\N,\N
1075,1093,2022,19,69,United States Grand Prix,2022-10-23,19:00:00,http://en.wikipedia.org/wiki/2022_United_State...,2022-10-21,19:00:00,2022-10-21,22:00:00,2022-10-22,19:00:00,2022-10-22,22:00:00,\N,\N
1076,1094,2022,20,32,Mexico City Grand Prix,2022-10-30,20:00:00,http://en.wikipedia.org/wiki/2022_Mexican_Gran...,2022-10-28,18:00:00,2022-10-28,21:00:00,2022-10-29,17:00:00,2022-10-29,20:00:00,\N,\N
1077,1095,2022,21,18,Brazilian Grand Prix,2022-11-13,18:00:00,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...,2022-11-11,15:30:00,2022-11-12,15:30:00,\N,\N,2022-11-11,19:00:00,2022-11-12,19:30:00
1078,1096,2022,22,24,Abu Dhabi Grand Prix,2022-11-20,13:00:00,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...,2022-11-18,10:00:00,2022-11-18,13:00:00,2022-11-19,11:00:00,2022-11-19,14:00:00,\N,\N

In [5]:
stats_df.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [6]:
drivers_df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [7]:
driver_standings_df.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [8]:
con1 = pd.merge(result_df, races_df, on ='raceId')
con2 = pd.merge(con1, drivers_df, on = 'driverId')
con3 = pd.merge(con2, driver_standings_df, on = 'driverId')
con4 = pd.merge(con3, constructor_df, on ='constructorId')
df = pd.merge(con4, stats_df, on ='statusId')
pd.get_option("display.max_columns",None)
df.shape

(3473301, 54)

df.head()

In [9]:
df.head()

,resultId,raceId_x,driverId,constructorId,number_x,grid,position_x,positionText_x,positionOrder,points_x,...,raceId_y,points_y,position_y,positionText_y,wins,constructorRef,name_y,nationality_y,url,status
0,1,18,1,1,22,1,1,1,1,10.0,...,18,10.0,1,1,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,Finished
1,1,18,1,1,22,1,1,1,1,10.0,...,19,14.0,1,1,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,Finished
2,1,18,1,1,22,1,1,1,1,10.0,...,20,14.0,3,3,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,Finished
3,1,18,1,1,22,1,1,1,1,10.0,...,21,20.0,2,2,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,Finished
4,1,18,1,1,22,1,1,1,1,10.0,...,22,28.0,3,3,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,Finished

In [10]:
df.columns

Index(['resultId', 'raceId_x', 'driverId', 'constructorId', 'number_x', 'grid',
       'position_x', 'positionText_x', 'positionOrder', 'points_x', 'laps',
       'time_x', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'year', 'round', 'circuitId', 'name_x',
       'date', 'time_y', 'url_x', 'fp1_date', 'fp1_time', 'fp2_date',
       'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time',
       'sprint_date', 'sprint_time', 'driverRef', 'number_y', 'code',
       'forename', 'surname', 'dob', 'nationality_x', 'url_y',
       'driverStandingsId', 'raceId_y', 'points_y', 'position_y',
       'positionText_y', 'wins', 'constructorRef', 'name_y', 'nationality_y',
       'url', 'status'],
      dtype='object')

In [11]:
df.isna().sum()

resultId             0
raceId_x             0
driverId             0
constructorId        0
number_x             0
grid                 0
position_x           0
positionText_x       0
positionOrder        0
points_x             0
laps                 0
time_x               0
milliseconds         0
fastestLap           0
rank                 0
fastestLapTime       0
fastestLapSpeed      0
statusId             0
year                 0
round                0
circuitId            0
name_x               0
date                 0
time_y               0
url_x                0
fp1_date             0
fp1_time             0
fp2_date             0
fp2_time             0
fp3_date             0
fp3_time             0
quali_date           0
quali_time           0
sprint_date          0
sprint_time          0
driverRef            0
number_y             0
code                 0
forename             0
surname              0
dob                  0
nationality_x        0
url_y                0
driverStandingsId    0
raceId_y             0
points_y             0
position_y           0
positionText_y       0
wins                 0
constructorRef       0
name_y               0
nationality_y        0
url                  0
status               0
dtype: int64

In [12]:
df = df.drop(['url','url_x','position_x','fastestLapTime','positionText_x','time_x','time_y','driverRef',
              'constructorRef','nationality_y','url_y','positionText_y','raceId_y','points_y'],axis=1)

In [13]:
df.shape

(3473301, 40)

In [14]:

col_name = {'number_x':'number','milliseconds':'timetaken_in_millisec','fastestLapSpeed':'max_speed',
 'name_x':'grand_prix','number_y':'driver_num','code':'driver_code','nationality_x':'nationality','name_y':'company',
 'raceId_x':'racerId','points_x':'points','position_y':'position'}


df.rename(columns=col_name,inplace=True)
df.head()

,resultId,racerId,driverId,constructorId,number,grid,positionOrder,points,laps,timetaken_in_millisec,...,driver_code,forename,surname,dob,nationality,driverStandingsId,position,wins,company,status
0,1,18,1,1,22,1,1,10.0,58,5690616,...,HAM,Lewis,Hamilton,1985-01-07,British,1,1,1,McLaren,Finished
1,1,18,1,1,22,1,1,10.0,58,5690616,...,HAM,Lewis,Hamilton,1985-01-07,British,9,1,1,McLaren,Finished
2,1,18,1,1,22,1,1,10.0,58,5690616,...,HAM,Lewis,Hamilton,1985-01-07,British,27,3,1,McLaren,Finished
3,1,18,1,1,22,1,1,10.0,58,5690616,...,HAM,Lewis,Hamilton,1985-01-07,British,48,2,1,McLaren,Finished
4,1,18,1,1,22,1,1,10.0,58,5690616,...,HAM,Lewis,Hamilton,1985-01-07,British,69,3,1,McLaren,Finished

In [15]:
df['driver_name'] = df['forename']+' '+df['surname']

In [16]:
df = df.drop(['forename','surname'],axis=1)

In [17]:
df.drop_duplicates()

,resultId,racerId,driverId,constructorId,number,grid,positionOrder,points,laps,timetaken_in_millisec,...,driver_num,driver_code,dob,nationality,driverStandingsId,position,wins,company,status,driver_name
0,1,18,1,1,22,1,1,10.0,58,5690616,...,44,HAM,1985-01-07,British,1,1,1,McLaren,Finished,Lewis Hamilton
1,1,18,1,1,22,1,1,10.0,58,5690616,...,44,HAM,1985-01-07,British,9,1,1,McLaren,Finished,Lewis Hamilton
2,1,18,1,1,22,1,1,10.0,58,5690616,...,44,HAM,1985-01-07,British,27,3,1,McLaren,Finished,Lewis Hamilton
3,1,18,1,1,22,1,1,10.0,58,5690616,...,44,HAM,1985-01-07,British,48,2,1,McLaren,Finished,Lewis Hamilton
4,1,18,1,1,22,1,1,10.0,58,5690616,...,44,HAM,1985-01-07,British,69,3,1,McLaren,Finished,Lewis Hamilton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3473296,19879,826,518,150,27,4,8,0.0,180,\N,...,\N,\N,1913-05-05,American,43299,30,0,Deidt,+20 Laps,Duane Carter
3473297,19879,826,518,150,27,4,8,0.0,180,\N,...,\N,\N,1913-05-05,American,43366,35,0,Deidt,+20 Laps,Duane Carter
3473298,19879,826,518,150,27,4,8,0.0,180,\N,...,\N,\N,1913-05-05,American,43436,38,0,Deidt,+20 Laps,Duane Carter
3473299,19879,826,518,150,27,4,8,0.0,180,\N,...,\N,\N,1913-05-05,American,43508,42,0,Deidt,+20 Laps,Duane Carter
3473300,19879,826,518,150,27,4,8,0.0,180,\N,...,\N,\N,1913-05-05,American,43581,43,0,Deidt,+20 Laps,Duane Carter

In [28]:
df['date']=pd.to_datetime(df['date'])
df['dob']=pd.to_datetime(df['dob'])

In [44]:
dates = datetime.today() - df['dob']

In [54]:
year = df['dob'].dt.year

In [56]:
df['age']= 2023 - year

In [62]:
df['age'] = df['date'].dt.year - df['dob'].dt.year

In [74]:
year =df['date'].dt.year

In [77]:
df.head()

,resultId,racerId,driverId,constructorId,number,grid,positionOrder,points,laps,timetaken_in_millisec,...,driver_code,dob,nationality,driverStandingsId,position,wins,company,status,driver_name,age
0,1,18,1,1,22,1,1,10.0,58,5690616,...,HAM,1985-01-07,British,1,1,1,McLaren,Finished,Lewis Hamilton,23
1,1,18,1,1,22,1,1,10.0,58,5690616,...,HAM,1985-01-07,British,9,1,1,McLaren,Finished,Lewis Hamilton,23
2,1,18,1,1,22,1,1,10.0,58,5690616,...,HAM,1985-01-07,British,27,3,1,McLaren,Finished,Lewis Hamilton,23
3,1,18,1,1,22,1,1,10.0,58,5690616,...,HAM,1985-01-07,British,48,2,1,McLaren,Finished,Lewis Hamilton,23
4,1,18,1,1,22,1,1,10.0,58,5690616,...,HAM,1985-01-07,British,69,3,1,McLaren,Finished,Lewis Hamilton,23

In [86]:
df =df.drop(['fp1_date','fp1_time','fp2_date','fp2_time','fp3_date','fp3_time','quali_date','quali_time'],axis=1)

In [89]:
df.company

0          McLaren
1          McLaren
2          McLaren
3          McLaren
4          McLaren
            ...
3473296      Deidt
3473297      Deidt
3473298      Deidt
3473299      Deidt
3473300      Deidt
Name: company, Length: 3473301, dtype: object

In [90]:
l = ['number','timetaken_in_millisec','fastestLap','rank','max_speed','driver_num']
for i in l:
    df[i] = pd.to_numeric(df[i],errors='coerce')

In [92]:
df.drop('driver_num',1,inplace=True)

/tmp/ipykernel_5152/3838380957.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop('driver_num',1,inplace=True)

In [93]:
df.shape

(3473301, 31)

In [115]:
df.iloc[697210]

resultId                                1795
racerId                                  104
driverId                                  22
constructorId                              6
number                                   2.0
grid                                       1
positionOrder                              1
points                                  10.0
laps                                      53
timetaken_in_millisec              4518448.0
fastestLap                              41.0
rank                                     1.0
max_speed                             257.32
statusId                                   1
year                                    2004
round                                     15
circuitId                                 14
grand_prix                Italian Grand Prix
date                     2004-09-12 00:00:00
sprint_date                               \N
sprint_time                               \N
driver_code                              BAR
dob                      1972-05-23 00:00:00
nationality                        Brazilian
driverStandingsId                         24
position                                  16
wins                                       0
company                              Ferrari
status                              Finished
driver_name               Rubens Barrichello
age                                       32
Name: 697210, dtype: object

In [105]:
cat = []
num = []
for i in df.columns:
    if df[i].dtypes == 'O':
        cat.append(i)
    else:
        num.append(i)

In [106]:
cat

['grand_prix',
 'sprint_date',
 'sprint_time',
 'driver_code',
 'nationality',
 'company',
 'status',
 'driver_name']

In [107]:
num

['resultId',
 'racerId',
 'driverId',
 'constructorId',
 'number',
 'grid',
 'positionOrder',
 'points',
 'laps',
 'timetaken_in_millisec',
 'fastestLap',
 'rank',
 'max_speed',
 'statusId',
 'year',
 'round',
 'circuitId',
 'date',
 'dob',
 'driverStandingsId',
 'position',
 'wins',
 'age']